body{
    background-color: #1f242d;
}
#navlink{
    position: fixed;
    width: 98%;
    padding: 10px;
    
}
.navlinks{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
.logo{
    padding-left: 20px;
    font-size: 40px;
    font-weight: 800;
    display: flex;
}
.logo1{
    color: white;
}
.logo2{
    color: rgb(71, 245, 71);

}
nav, .action{
    padding-top: 3px;
    font-size: 20px;
    text-decoration: none;
    font-family: monospace;
    font-weight: 400;
    display: flex;
    gap: 90px;
    color: white;
}
.action:active, .action:hover{
    color:rgb(71, 245, 71) ;
    text-decoration: underline;
}

.cont-btn{

    border: solid 0px;
    border-left: solid 2px rgb(71, 245, 71);
    padding-left: 30px;
    padding-right: 20px;
    background-color: #1f242d;
 
}
.action1{
    color: white;
    font-size: 25px;
    text-decoration: none;
}

/* section profile  */
#home{
    display: flex;
    gap: 10%;
    width: 90%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    justify-self:  center;
    box-sizing: border-box;
    /* padding: 50px; */
}

.profile-pic{
    position: relative;
    width: 800px;
    aspect-ratio: 1/1;
    border: 2px solid rgb(71, 245, 71);
    border-radius: 50%;
    overflow: hidden;
}
.profile-pic img{
    position: absolute;
    width: 500px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.conical-gradient{
    content:"";
    width: 500px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: conic-gradient(transparent,rgb(71, 245, 71),transparent,transparent);
    animation: rotate 3s infinite;
    z-index: 0;
    position: absolute;
    overflow: hidden;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}




.profile-content{
    
}



.home-hello{
    color: rgb(71, 245, 71);
    font-size: 20px;
    font-weight: 200;
    font-family: "Dancing Script", cursive;
}
.home-name{
    font-size: 50px;
    color: white;
    font-weight: 600;
    text-shadow: 20mm white;
}
.home-skill{
    
}
.home-am{
    color: white;
    font-size: 20px;
}
.home-skills{
    color: rgb(71, 245, 71);
    font-size: 35px;
    font-weight: 900;
}
.home-skills {
    position: relative;
}
.home-skills::before{
    content: "Web Developer";
    color: rgb(71, 245, 71);
    animation: words 20s infinite;
}
.home-skills::after{
    content: "";
    position: absolute;
    border-left: 2px solid rgb(71, 245, 71);
    background-color: #1f242d;
    height: 100%;
    width: calc(100% + 8px);
    right: -8px ;
    animation: cursor .10s infinite, typing 20s steps(20) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid rgb(71, 245, 71);
    }
}

@keyframes words {
    0%, 20%{
        content: "Web Developer";
    }
    21%, 40%{
        content: "Front-End Programmer";
    }
    41%, 60%{
        content: "Basic Python Programmer";
    }
    61%,80%{
        content: "Photo Editing";
    }
    81%,100%{
        content: "Developer";
    }
}
@keyframes typing{
    10%,15%,30%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}
.home-para{
    color: white;
    text-align: justify;
    max-width: 80%;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}
.cv-btn{
    width: 120px;
    height: 35px;
    background-color: rgb(71, 245, 71);
    border: solid 0px;
    border-radius: 5px;
    font-size: 15px;
    color: white;

}
.cv-link{
    text-decoration: none;
    color: white;
}
.home-call{
    width: 120px;
    height: 35px;   
    border: solid 1px rgb(71, 245, 71);
    border-radius: 5px;
    font-size: 15px;
    background-color: #1f242d;
    color: rgb(71, 245, 71);

}
.call-link{
    text-decoration: none;
    color: rgb(71, 245, 71);
}
.cv-btn:hover{  
    border: solid 1px rgb(71, 245, 71);
    background-color: #1f242d;
    color: rgb(71, 245, 71); 
}
.cv-link:hover{
    color: rgb(71, 245, 71);
}
.home-call:hover{
    background-color: rgb(71, 245, 71);
    border: solid 0px;
    border-radius: 5px;
    font-size: 15px;
    color: white;    
}
.call-link:hover{
    background-color: rgb(71, 245, 71);
    border: solid 0px;
    color: white;

}

.icons{
    /* background-color: rgb(71, 245, 71); */
    font-size: 15px;
    font-weight: 600;
    width: 20px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid rgb(71, 245, 71);
    text-align: center;
    padding: 5px;
}
.icon-link{
    color: rgb(71, 245, 71);
}
.icons-p{
    display: flex;
    gap: 10px;
}

/*ABOUT ME SECTION*/
#about{
    width: 90%;
    gap: 10%;
    height: 100vh;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.brief{
    width: 90%;
}
.brief >h1{
    font-size: 60px;
    color: whitesmoke;
}

.brief{
    box-sizing: border-box;
}
.brief li{
    width: 100%;   
    list-style: none;
    position: relative;
}

.brief h2{
    font-size: 40px;
    color: rgb(71, 245, 71)
}

.brief p{
    font-size: 30px;
    color: whitesmoke;
}

.brief button{
    font-size: 20px;
    padding: 10px;
    background:rgb(71, 245, 71);
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    transition: 1s all ease;
}

.brief button:hover{
    transform: scale(1.08);
    background: #1f242d;
    color:rgb(71, 245, 71)
}

/* section skills */
.service {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding-left: 4%;
}

.web-service {
    height: 350px;
    width: 350px;
    background-color: rgba(0, 0, 1, 0.5);
    box-shadow: 1px 2px 1px 1px rgb(53, 54, 54);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.heading {
    color: rgb(9, 230, 20);
    font-weight: 600;
    font-size: 30px;
    padding: 20px;

}

.service-para {
    color: white;
    max-width: 80%;
    font-size: 20px;
    text-align: center;
    padding: 30px;
}

#webView,
#pythonView,
#photoshopView {
    color: rgb(9, 230, 20);
    padding-left: 5px;
    background-color: rgb(26, 28, 29);
    border: 0 solid;

}

#webView,
#photoshopView {
    margin-top: 30px;
}

#pythonView {
    margin-top: 7px;
}

#webLinks,
#pythonLinks,
#photoshopLinks {
    display: none;
    background-color: rgba(99, 252, 124, 0.5);
    width: 40%;
    margin-left: 20%;
}

.proLink {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    color: white;
    text-decoration: none;
}

h1 {
    color: white;
    text-decoration: underline;

}

#skillsPercentage {
    padding-left: 30%;
}

.web-div,
.c-div,
.python-div,
.photoshop-div {
    background-color: white;
    width: 58%;
}

#webPercent {
    width: 0;
    height: 4px;
    background-color: rgb(9, 230, 20);
    border: none;
    animation: grow 14s ease forwards;
}

@keyframes grow {
    from {
        width: 0;
    }

    to {
        width: var(100%);
    }
}

.web-counter,
.python-counter,
.c-counter,
.photoshop-counter {
    display: flex;
}

#pythonPercent {
    width: 0;
    height: 4px;
    background-color: rgb(9, 230, 20);

    border: none;
    animation: grow 10s ease forwards;

}

#photoshopPercent,
#CPercent {
    width: 0;
    height: 4px;
    background-color: rgb(9, 230, 20);
    border: none;
    animation: grow 6s ease forwards;
}

.html-percentage {
    display: flex;
    justify-content: space-between;
    width: 58%;
    padding-top: 50px;
    color: white;
}



/* section contact */

.contact-section {
    height: 600px;
    width: 90%;
    margin-left: 3.5%;
    margin-top: 60px;
    padding: 20px;
    background-color: rgb(26, 28, 29);
    box-shadow: 2px 2px 3px 0px white;
}

.contact-heading {
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-decoration: underline;
    text-align: center;
    padding-left: 43%;

}

.contact-para {
    max-width: 50%;
    font-size: 20px;
    align-items: center;
    text-align: center;
    padding-left: 25%;
    color: wheat;

}

.call-btn,
.get-btn {
    height: 40px;
    width: 280px;
    font-size: 18px;
    margin-top: 30px;

}

.call-btn {
    background-color: rgb(9, 230, 20);
    border: 1px solid white;
    color: white;
}

.get-btn {
    background-color: white;
    border: 1px solid rgb(9, 230, 20);
    color: rgb(9, 230, 20);
}

.contact-btns {
    margin-left: 37%;
    display: flex;
    gap: 25px;
}

form {
    width: 50%;
    margin-left: 31%;
    margin-top: 60px;
}

.email-names {
    display: flex;
    gap: 60px;
    margin-bottom: 10px;
}

.email-name {
    color: white;

}

#name {
    height: 25px;
    width: 120%;
    background-color: rgb(26, 28, 29);
    border: 1px solid rgb(9, 230, 20);
    border-radius: 5px;
    color: white;
}

#E-mail {
    height: 25px;
    width: 74%;
    background-color: rgb(26, 28, 29);
    border: 1px solid rgb(9, 230, 20);
    border-radius: 5px;
    color: white;
}

#message {
    width: 74%;
    background-color: rgb(26, 28, 29);
    border: 1px solid rgb(9, 230, 20);
    border-radius: 5px;
    color: white;
}

textarea {
    height: 100px;
}

.submit-btn {
    width: 74%;
    height: 25px;
    font-size: 20px;
    background-color: rgb(9, 230, 20);
    color: white;
    border: 1px solid white;
    margin-top: 2%;
}

#education{
    width: 91%;
    justify-self: center;
    height: 100vh;
    box-sizing: border-box;
}
#education > h1{
    text-decoration: none;
    font-size: 50px;
}

#education > div{
    height: fit-content;
    display: flex;
}

.schools-wrapper{
    width: 50%;
    height: 100%;
}

.schools-img{
    width: 50%;
    height: 100%;
}

.school{
    box-sizing: border-box;
    width: fit-content;
    color: whitesmoke;
    border-left: 20px solid rgb(71, 245, 71);
    padding-left: 10px;
    margin-bottom: 100px;
}

.school > h1{
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
}

.school > h2{
    font-size: 25px;
    font-weight: 300;
}

.school p{
    font-size: 20px;
}

.schools-img img{
    width: 100%;
    height: 100%;
}